# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Data & models
data/
models/
reports/figures/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
